@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: cadetblue;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 40px 20px;
    text-align: center;
    background-color: white;
    border-radius: 15px;
}

h1 {
    font-size: 40px;
    margin-top: 10px;
}
#joke{
    margin-top: 10px;
}
.btn {
    display: inline-block;
    padding: 10px 50px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: cadetblue;
    border-radius: 50px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}